<div ng-controller="newPostController">
  <!-- new name is {{newName}} -->

  <div class="form">
    Title: <input type="text" ng-model="newPost.title"/><br>
    Content:<br>
    <input type="text" ng-model="newPost.content" class="box"/>
    Tags: <span ng-repeat="tag in tags">
            <input type="checkbox" value="tag.id" ng-click="toggleId(tag.id)" class="checkbox">{{tag.name}}</input>
          </span>
          <button ng-click="submitNewPost()">
            Create a new post
          </button>
          <br>
          {{newPost}}
  </div>
</div>
